<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link id="favicon" rel="icon" href="images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>404 Page Not Found</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/stylesheets/default.css" />

    <!--Socket HTML Integration-->
    <script src="/socket.io/socket.io.js"></script>

    <!-- import the webpage's client-side javascript file -->
    <script src="" defer></script>
</head>
<body>
    <h2>Looking for something...?</h2>
    <p>Well it's not here. Look somewhere else. (404)</p>
    <img src="/images/cow-dancing.gif">
</body>
</html>