<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link id="favicon" rel="icon" href="images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title id="tabTitle">Index Page</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="stylesheets/style.css" />

    <!--Socket HTML Integration-->
    <script src="/socket.io/socket.io.js"></script>

    <!-- import the webpage's client-side javascript file -->
</head>
<body>
    <h1>Hi.</h1>
</body>
</html>